.container{
    padding: 4rem;
}

li{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #33333333;
    cursor: pointer;
    border-radius: 8px;
}

li:hover{
    transition: border-left 200ms ease, padding-left 200ms ease;
    padding-left: 2rem;
    cursor: pointer;
    border-left: 4px solid #33333333;
}

.icons {
    display: flex;
}

.flex{
    display: flex;
    align-items: center;
    gap : .5rem
}

.open-list .taskCounter{
    display: none;
}

.icons button{
    margin: 0;
    border-radius: 50%;
    padding: 1rem;
    transition: color 200ms ease;
    color: #33333333;
}

.icons button.deleteIcon:hover {
    color: #ff6347;
}
.icons button.doneIcon:hover {
    color: green;
}


.title {
    display: inline;
    cursor: pointer;
    font-weight: 500;
}


h1{
    margin: 2rem 0;
    font-weight: 700;
    font-size: 2rem;
}

.puce, .dot{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}

.low-dot{
  background-color:   #008b8b33   
}

.high-dot{
    background-color: #ff634733;
}

.normal-dot{
    background-color: #33333366;
}

.dot.active{
    border: #eee solid 2px;
}

.low-dot.active{
    background-color:   #008b8b;   
}

.high-dot.active{
    background-color: #ff6347;
}

.normal-dot.active{
    background-color: #333333;
}

.dot:hover{
    border: #eee solid 2px;
}
/* .high-dot:hover::after, .high-dot.active::after{
    position: absolute;
    content: 'high';
    transform: translate(-1rem, 2rem);
}
.low-dot:hover::after, .low-dot.active::after{
    position: absolute;
    content: 'low';
    transform: translate(-1rem, 2rem);
}

.normal-dot:hover::after, .normal-dot.active::after{
    position: absolute;
    content: 'normal';
    transform: translate(-1rem, 2rem);
}
 */



.header{
    align-items: center;
    display: flex;
    gap:1rem

}

button {
    /* border: 1px solid #33333333; */
    border : none;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1.272rem;
    font-weight: bold;
    margin: 0 1rem 3rem 0;
    outline:none;
    padding: 1rem;
    text-transform: uppercase;
}

button.add-task{
    background-color: transparent;
    color: #333;
    transition: letter-spacing 400ms, padding-left 400ms linear;
}

button.add-task:hover {

    letter-spacing: 2px;
    
}
button.add-list{
    background-color: transparent;
    color: #333;
    transition: letter-spacing 400ms, padding-left 400ms linear;
}

button.add-list:hover {

    letter-spacing: 2px;
    
}



.list-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.chevron{
    font-size: 2rem;
    cursor: pointer;
}

.list{
    border-bottom: 1px solid #33333333;
    margin-bottom: 2rem;
    color: #33333366;
    transition: color 400ms ease;
    cursor: pointer;
}


.list:hover {
    color: #333;
}
.open-list {
    color: #333;
}

.puce {
    background-color: #33333333;
}
.high .puce{
    background-color: #ff634733;
}


.low .puce{
    background-color: #008b8b33
}





button.done{
    background-color: #EEE;
    color: #10ca10;
}
button.done:hover{
    background-color: #10ca10;
    color: #eee;
}

button.save{
    border: 1px solid #333 ;
    background-color: #333;
    color: #eee;
}
button.save:hover{
    background-color: #eee;
    color: #333;
}

button.delete {
    color: #ff6347;
    background-color: transparent;
    transition: color 400ms ease , background-color 400ms ease;
}
button.delete:hover {
    background-color: #ff6347;
    color: #333;

}

.description{
    color: #33333366;
}

.done .header .description{
    display: none;
}
.done li { 
    background-color: #333;
    color: #EEE;
}
ul.done{
    margin-top: 4rem;
}

ul.done .title{
    text-decoration: line-through;
}

ul.done .puce{
    display: none;
    background-color: #333;
    border: solid #EEE 2px;
}
ul.done .puce::after{
    position: absolute;
    content: '✓';
    transform: translate(50%);
    font-size: 1.272rem;
    font-weight: 900;
}

ul.done .title{
    text-decoration: line-through;
}




.close{
    font-size: 2rem;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
    background-color: transparent;
    color: #333

}

.div-close {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #33333333;
    border-radius: 1rem 1rem 0 0;

}
.div-close .priority {
    display: flex;
    gap: 1rem;
    padding: 3rem;
    text-transform: uppercase;
    font-weight: bold;

}

.text-div {
    width: 100%;
}

.text-div .title,.text-div .date,.text-div .description{

    cursor: text;
    transition: all 400ms linear;
}



input, textarea{
    background-color: #EEE;
    border: none;
    min-width: 100%;

}

textarea:hover{
    outline:  #33333333 solid 1px;
}

.date {
    font-size : 1.272rem
}

.notes {
    margin-top: 4rem;
    font-size:  1rem;
    border: #33333333 solid 1px;
    height: 15rem;
    padding : 1rem;
    color: #333333;
    width: 100%;
}

.notes div{
    list-style: circle;
}

.notes:focus{
    background-color: none;
}

.overlay{
     align-items: center;
     position: fixed;
     justify-content: center;
     bottom:0;
     left:0;
     background-color: #333333DD;
     width: 100vw;
     min-height: 100vh;
     z-index: 3;
     cursor: pointer;
    }
    .overlay .title,.listName{
    display: block;
    font-size: 1.618em;
    font-weight: bold;
    width: 100%;
    height: 1.5em;
}
.overlay .description{
    font-size: 2rem;
}

  
.card{
    display: flex;
    flex-direction: column;
    margin: 4rem;
    width: calc(100% - 8rem);
    min-height: 90vh;
    background-color: #EEE;
    justify-content: space-between;
    color: #333;
    border-radius: 1rem;
    cursor: default;
}


.card-content{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 3rem;
    font-size: 2em;
    width: 100%;
  
}



.card.high .div-close{
    background-color: #ff634733;
    color: #000;
}
.card.low .div-close{
    background-color: #008b8b33;
    color: #000;
}
.card.high .close{
    color: #000;
}
.card.low .close{
    color: #000;
}

.card.done .div-close{
    background-color: #333;
    color: #eee;
}
.card.done {
     background-color: #333;
    color: #eee;
}

.card.done .close{
    color: #eee;
}

.list-header .description{
    color: tomato;
}

.empty{
    padding: 0 0 4rem 1rem ;
    color: #33333366;
}