*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body {
    background-color: #EEE;
    color: #333;
    font-weight: 500;
    position: relative;
 }

 

.button-rack {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
}



